{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Categories</h1>
    <ul>
        <li><a href="/categories/antiques">Antiques</a></li>
        <li><a href="/categories/electronics">Electronics</a></li>
        <li><a href="/categories/Fashion">Fashion</a></li>
        <li><a href="/categories/homeGarden">Home and Garden</a></li>
        <li><a href="/categories/jewellery">Jewellery</a></li>
        <li><a href="/categories/motors">Motors</a></li>
        <li><a href="/categories/sportingGoods">Sporting Goods</a></li>
        <li><a href="/categories/toysGames">Toys and Games</a></li>
        <li><a href="/categories/books">Books</a></li>
        <li><a href="/categories/health">Health</a></li>
        <li><a href="/categories/other">Other</a></li>
    </ul>

{% endblock %}