{% extends "auctions/layout.html" %}

{% block body %}

    <h3>{{item.name}}</h3>
    <img src='{{item.imgUrl}}' alt='img of {{item.name}}'>
    <p>{{item.details}}</p>
    <h4>${{item.price}}</h4>
    <label for='bid-box'>x bid(s) so far. Your bid is the current bid etc...</label>
    <br>
    <form action='/listing/{{item.name}}' method='POST'>
        {% csrf_token %}
        <input type='text' name='bid-box'>
        <input type='submit' value='Place Bid'>
    </form>
    <h4>Details: </h4>
    <ul>
        <li>Listed by: NAME</li>
        {% if category == 'none' %}
            <li>Category: No Category Listed</li>
        {% else %}
            <li>Category {{item.category}}</li>
        {% endif %}
    </ul>
    
    {% if user.is_authenticated %}
        <form action="/listing/{{item.name}}" method='POST'>
            {% csrf_token %}
            <button type='submit' name='button' value='Watchlist'>{{button}}</button>
            <input type='hidden' name='bid-box' value='None'>
        </form>
    {% endif %}


{% endblock %}